$dark-text: #444;
$red-color: #f55157;
$main-color: #5CD5C4;
$bg-white-color: #fff;
$white-color: #fff;
$gray-color: #999;
$border-color: #eee;
$white-light-border-color: #eee;
$gray-color-dark: #f8f8f8;
$box-shadow: 0 0 #0000,0 0 #0000,0 0 #0000,0 0 #0000,0 1px 2px 0 rgba(0,0,0,0.05);